body{
    background-color:pink;
    color:black;
    margin:0;
    font-family:Arial, sans-serif;
    background-color:#f4f4f4;
}

nav{
    background-color:#333;
    padding:15px;
}

nav h2{
    color:white;
    display:inline;
    margin-right:30px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

section{
    padding:20px;
    text-align:center;
}

iframe{
    border:2px solid black;
}

footer{
    background-color:#333;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}